<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hey bero</title>
</head>
<body>
<h1>Welcome to the text analyzer.Enter your text below</h1>

<form action="/analyze" method='get'>
    <textarea name="text" style='width: 751px; height: 133px;'></textarea> <br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> Remove New Lines <br>
    <input type="checkbox" name="extraspaceremover"> Removed Extra Space <br>
    <button type="submit">Analyze Text</button>
</form>

</body>
</html>